<% include ./partials/header %>

<div class="ui centered card">
  <div class="image">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR7dyUvtMHuOH-rZ9nlNbRhtTgT6V23S69ggeQqYNPxzm5onZ92">
  </div>
  <div class="content">
    <a class="header">SOMETHING WENT WRONG !!!</a>  
    <a class="header" href="/form">RETRY </a>
  
  </div>
</div>


<% include ./partials/footer %>

