<% include ./partials/header %>

<style>
	body{
	background: url("https://maxcdn.icons8.com/app/uploads/2018/08/how-to-create-gradient-article.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	}
</style>

<h2 class="ui center aligned icon header">
  <i class="user secret icon"></i>
  OTP App 
	<div>
		<button class="ui black button big"><a href="/form">CLICK</a>	
       </button>
	</div>
</h2>


<% include ./partials/footer %>