<% include ./partials/header %>

<div class="ui centered card">
  <div class="image">
    <img src="https://media0.mensxp.com/media/content/2018/Mar/twitter-might-soon-allow-every-user-to-get-verified-and-get-the-blue-tick-740x500-1-1520591053.jpg">
  </div>
  <div class="content">
    <a class="header">VERIFIED !!!</a>
  </div>
</div>


<% include ./partials/footer %>